<div style="padding: 10px; margin:0px; background-color: rgba(94,129,172,0.08); text-decoration:none; padding-left: 20px;">
  <a href='{{.Get "href"}}' style="text-decoration: none">{{.Inner}}</a>
</div>
